
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ui</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="~/ui/favicon.ico">
    
    
    
      <link rel="stylesheet" href="~/ui/assets/bootstrap/bootsrap4.css">

</head>
<body>
<app-root></app-root>



  <script src="~/ui/assets/bootstrap/jquery.js"></script>
  <script src="~/ui/assets/bootstrap/proper.js"></script>
  <script src="~/ui/assets/bootstrap/holder.js"></script>
<script src="~/ui/assets/bootstrap/bootsrap4.js"></script>


<script type="text/javascript" src="~/ui/runtime.js"></script>
  <script type="text/javascript" src="~/ui/es2015-polyfills.js" nomodule></script>
  <script type="text/javascript" src="~/ui/polyfills.js"></script>
  <script type="text/javascript" src="~/ui/styles.js"></script>
  <script type="text/javascript" src="~/ui/vendor.js"></script>
  <script type="text/javascript" src="~/ui/main.js"></script>
</body>
</html>