@{
   // Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ui</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="~/ui/favicon.ico">
    
    
    
      <link rel="stylesheet" href="~/ui/assets/bootstrap/bootstrap4.css">

</head>
<body>
<app-root></app-root>



  <script src="~/ui/assets/bootstrap/jquery.js"></script>
  <script src="~/ui/assets/bootstrap/proper.js"></script>
  <script src="~/ui/assets/bootstrap/hodler.js"></script>
  <script src="~/ui/assets/bootstrap/bootstrap4.js"></script>
</body>
</html>